<div>
    <table class="list">
        <thead>
        <tr>
            <th><input type="checkbox" id="check_all" /></th>
            <th>Flag</th>
            <th class="oe_sortable" data-sort="name">Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
