<div class="pagination">
    <div class="countOnPage">
        <div class="pageList">
            <span class="currentPageList icon icons"></span>
            <ul class="allNumberPerPage">
                <li>1-50</li>
                <li class="disabled">...</li>
                <li>51-100</li>
            </ul>
        </div>
    </div>
    <div class="nextPrev">
        <button id="previousPage" class="icon" type="button" disabled="disabled">8</button>
        <button id="nextPage" type="button" class="icon" disabled="disabled">9</button>
    </div>
</div>