<div class="filterName">
    <input id="<%=filterName%>Input" placeholder="<%=filterDisplayName%>" \>
    <span class="dropDown"> + </span>
</div>
<div id="<%=filterName%>Values" class="ulContent">
    <ul id="<%=filterName%>Ul" class="filterValues">
    </ul>
    <% if (paginationBool){%>
    <li class="miniStylePagination">
        <a class="prev" href="javascript:;">&lt;Prev</a>
        <span class="counter"></span>
        <a class="next" href="javascript:;">Next&gt;</a>
    </li>
    <%}%>
</div>