<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div>
    <form id="changPassForm" action="{{host}}/personnel/passwordChange/{{forgotToken}}" method="post">
        <fieldset>
            <h2>Change password</h2>

            <div class="error"></div>
            <!--<label for="newPass">New Password:</label>-->

            <div class="icon-old-pass">
                <span class="icon"></span>
                <input type="password" placeholder="New Password" id="pass" name="pass" value="" autofocus
                       maxlength="25"/>
            </div>
            </p>

            <p>

            <div class="error"></div>
            <!--<label for="confirmPass">Confirm Password:</label>-->

            <div class="icon-old-pass">
                <span class="icon"></span>
                <input type="password" placeholder="Confirm Password" id="confirmPass" name="confirmPass" value="" autofocus
                       maxlength="25"/>
            </div>
            </p>
            <a class="login-button" href="javascript:;">Change<i></i></a>
            <input type="submit" class="right" value="">
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var frm = $('#changPassForm');
    var pass = $('#pass').val();
    var confirmPass = $('#confirmPass').val();

    frm.submit(function (ev) {
        frm.validate({
            rules: {
                pass: {
                    required: true,
                    minlength: 5
                },
                confirmPass: {
                    equalTo: "#pass"
                }
            },
            messages: {
                pass: {
                    required: "Please insert a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                confirmPass: {
                    equalTo: "Please enter the same password as above"
                }
            }
        });

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                window.location = data;
            },
            error: function (err1, err2) {
                alert(err1);
            }
        });

        ev.preventDefault();
    });
</script>
</body>
</html>
