<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../js/libs/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div>
    <form id="changePassForm" action="{{host}}/personnel/passwordChange/{{forgotToken}}" method="post">
        <fieldset>
            <h2>Change password</h2>

            <div class="error"></div>
            <!--<label for="newPass">New Password:</label>-->

            <div class="icon-old-pass">
                <span class="icon"></span>
                <input type="password" placeholder="New Password" id="pass" name="pass" value="" autofocus
                       maxlength="25"/>
            </div>
            </p>

            <p>

            <div class="error"></div>
            <!--<label for="confirmPass">Confirm Password:</label>-->

            <div class="icon-old-pass">
                <span class="icon"></span>
                <input type="password" placeholder="Confirm Password" id="confirmPass" name="confirmPass" value=""
                       autofocus
                       maxlength="25"/>
            </div>
            </p>
            <a class="login-button" href="javascript:;">Change<i></i></a>
            <input type="submit" class="right" value="">
        </fieldset>
    </form>
</div>
<script type="text/javascript">
    var frm = $('#changePassForm');

    function checkForm(form) {
        if (form.pass.value !== form.confirmPass.value) {
            alert("Error: Passwords do not match!");
            form.confirmPass.focus();
            return false;
        }
        return true;
    }

    frm.submit(function (ev) {
        if (checkForm(this)) {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    window.location = data;
                },
                error: function (err1, err2) {
                    alert(err1);
                }
            });
        }
        ev.preventDefault();
    });
</script>
</body>
</html>
