<div id="login">
    <a href="http://alalali.com/en/" title="Return to the al alali homepage" class="mainLogo"><img src="..\images\main-logo.png" alt=""/></a>
    <form id="loginForm">
        <fieldset>
            <h2>SIGN IN</h2>

            <label for="login">Login</label><br/>
            <span class="spEmail"><input type="text" id="email" name="login" value="" autofocus maxlength="32" required/></span>
            <label for="pass">Password</label><br/>
            <span class="sp-pass"><input type="password" id="pass" name="upass" value="" maxlength="15"/></span>

            <a class="login-button" href="javascript:;">sign in<i></i></a>
            <div class="bottom-loginForm">
                <span>Remember Me</span>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch"></label>
                </div>
                <a class="forgot-button" href="<%=forgotUrl%>">forgot password?<i></i></a>
            </div>

            <input type="submit" value="">
        </fieldset>
    </form>
</div>