<div>
    <form id="loginForm">
        <fieldset>
            <h2>SIGN IN</h2>

            <div class="error">Such user doesn't registered</div>

            <label for="email">Login:</label>
            <input type="email" placeholder="Email" id="email" name="email" value="" autofocus maxlength="32" required/>

            <input type="password" placeholder="Password" id="upass" name="upass" value="" maxlength="15"/>

            <a class="login-button" href="javascript:;">Login<i></i></a>

            <input type="submit" class="right" value="">
        </fieldset>
    </form>
</div>