<div id="login">
    <a href="http://alalali.com/en/" title="Return to the al alali homepage" class="main-logo"><img src="..\images\main-logo.png" alt=""/></a>
    <form id="loginForm">
        <fieldset>
            <h2>SIGN IN</h2>

            <label for="email">Email address</label><br/>
            <input type="email" id="email" name="email" value="" autofocus maxlength="32" required/>
            <label for="email">Password</label><br/>
            <input type="password" id="pass" name="upass" value="" maxlength="15"/>

            <a class="login-button" href="javascript:;">sign in<i></i></a>
            <a class="forgot-button" href="<%=forgotUrl%>">forgot password<i></i></a>

            <input type="submit" value="">
        </fieldset>
    </form>
</div>