<div id="loginPanel">
    <div class="logo"><a href="http://alalali.com/en/" title="Return to the al alali homepage"><img src="../../images/logo.png" alt=""/></a></div>
    <div class="personelShortDetail">
        <div class="avatar">
            <img src="<%= imageSrc %>" />
        </div>
        <div id="personnelDescription">
            <span id="personnelName"><%= fullName %></span>
            <span id="personnelJobposition"><%= position %></span>
        </div>
    </div>
    <div id="aditionalInfo">

    </div>
</div>