/*== Fonts ===========================*/
@fontBold: 'proxima_nova_rgbold';
@fontRegular: 'proxima_nova_rgregular';


/*== Begin Main Colors ================*/
@main-bg-color: #C62828;
@main-sub-color: #fff;
/*== End Main Colors ================*/

/*== Begin Header===================*/
@header-bg: @main-bg-color;
@header-font-color: @main-sub-color;
/*== End Header===================*/

/*== Begin login.less =================*/
@login-shadow: rgba(26,24,25, .5);
@login-main-color: #546E7A;
@login-sub-color: #7C818E;
@login-input-color-bg: #F2F0F4;
@login-button-color: #F44336;
@login-butt-color: #F6695E;
@login-forgot-color: #FF9800;

/*Switcher*/
@login-off-switcher: #9E9E9E;
@login-oncircle-switcher: #00C853;
@login-off-line: #4BE59A;
/*=========*/

/*== End login.less =================*/

/*==Left menu color==============*/

@text-color-menu: #6a6a6a;
@leftmenu-border-color: #eee;
@leftmenu-hover-color: #eee;


/*== ui dialog==================*/
@border-color: black;
@ui-bg: #e0e8e0;
@ui-bg-tabs: #fff;
@ui-button-color: red;