/*== Fonts ===========================*/
@fontBold: 'proxima_nova_rgbold';
@fontRegular: 'proxima_nova_rgregular';


/*== Begin Main Colors ================*/
@main-bg-color: #C62828;
@main-sub-color: #fff;
@main-font-color: #000;

@main-block-hover-bg: #F7F7F7;
@main-border-color: #CFD8DC;
/*== End Main Colors ================*/

/*== Begin Header===================*/
@header-bg: @main-bg-color;
@header-font-color: @main-sub-color;

/*== End Header===================*/

/*== Begin login.less =================*/
@login-shadow: rgba(26,24,25, .5);
@login-main-color: #546E7A;
@login-sub-color: #7C818E;
@login-input-color-bg: #F2F0F4;
@login-button-color: #F44336;
@login-butt-color: #F6695E;
@login-forgot-color: #FF9800;

/*Switcher*/
@login-off-switcher: #9E9E9E;
@login-oncircle-switcher: #00C853;
@login-off-line: #4BE59A;
/*=========*/

/*== End login.less =================*/

/*== Begin leftMenuHolders ==============*/
@leftmenu-font-color-menu: @main-font-color;
@leftmenu-subfont-color-menu: #546E7A;

@leftmenu-listnum-bg: #F44336;
@leftmenu-listnum-text-color: @main-sub-color;

@leftmenu-border-color: @main-border-color;
@leftmenu-hover-color: @main-block-hover-bg;

/*== End leftMenuHolders ==============*/

/*== Begin topBarMenuHolders ==============*/
@topbarmenu-font-color-menu: @main-font-color;
@topbarmenu-border-color: @main-border-color;
@topbarmenu-block-bg: @main-block-hover-bg;

/*== End topBarMenuHolders ==============*/

/*== ui dialog==================*/
@border-color: black;
@ui-bg: #e0e8e0;
@ui-bg-tabs: #fff;
@ui-button-color: red;