#topBarHolder {
  border: 1px solid @topbarmenu-border-color;

  .pl {
    padding-left: 25px;
  }

  #filterBar {
    background-color: @topbarmenu-block-bg;
    .pl;
    span {
      .pxToEm(16);
      color: @topbarmenu-font-color-menu;
      line-height: 50px;
      text-transform: capitalize;
    }
  }
}