body {
  font-size: 100%;
  line-height: 1.42857143;
  font-family: @fontRegular, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @fontRegular, sans-serif;
  line-height: 1.42857143;
}

a {
  .pxToEm(14);
  font-family: @fontRegular, sans-serif;
  line-height: 1.42857143;
}

p {
  .pxToEm(12);
  font-family: @fontRegular, sans-serif;
  line-height: 1.42857143;
}

input[type='text'], button {
  font-family: @fontRegular, sans-serif;
}