@import "_color";

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.notification {
  z-index: 20000;
  position: fixed;
  top: 5px;
  right:5px;
  width: 500px;
  margin: 0 auto;

  .error{
    display: block;
  }

  .hidden {
    display: none;
  }
}

#login {
  h1 > a {
    display: block;
    width: 200px;
    height: 200px;
    background: url(/images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }

  fieldset {
    width: 390px;
    min-height: 120px;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    padding: 10px;

    h2 {
      margin: 15px 0;
    }
    h2, a {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
    }

    h2, label {
      color: #546e7a;
      font-size: 18px;
      font-family: sans;
      font-weight: 600;
    }

    label {
      font-size: 16px;
      font-weight: 300;
      opacity: .7;
    }

    input {
      width: 96%;
      height: 30px;
      padding: 0 2%;
      background-color: #eee;
      border: none;
    }

    input.error {
      border: 2px solid #f44336;
      border-radius: 2px;
      outline: 0;
    }

    input[type="submit"] {
      display: none;
    }

  }
  .login-button {
    -webkitborder-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #f44336;
    margin-top: 20px;
    line-height: 45px;
    color: white;
    display: block;
    font-size: 18px;
    font-family: sans;
    font-weight: 600;

    &:hover {
      text-decoration: none;
      background-color: #ff0003;
      color: white;
    }

    i {
      display: inline-block;
      margin-left: 5px;
      width: 14px;
      height: 14px;
    }
  }
  #loginForm.notRegister {
    input {
      border: 2px solid #f44336;
      border-radius: 2px;
      outline: 0;
    }
  }
}

#loginPanel {
  height: 65px;
  border: 1px solid black;
  background-color: @main-login-color;
  padding: 0 5%;
  overflow: hidden;
  .logo {
    width: 15%;
    float: left;
    a {
      display: block;
      //height: 100%;
      img {
        height: 65px;
      }
    }
  }

  .personelShortDetail {
    width: 60%;
    float: left;
    height: 100%;
    .avatar {
      display: inline-block;
      width: 70px;
      height: 100%;
      vertical-align: middle;

      img {
        width: 90%
      }
    }
    #personnelDescription {
      height: 100%;
      width: 90%;
      display: inline-block;
      vertical-align: middle;
      span {
        color: white;
      }
      #personnelName {
        font-size: 1.5em;
        font-weight: bold;
        display: block;
      }
    }
  }

  #aditionalInfo {
    width: 25%;
    float: left;
    height: 100%;
  }
}

#leftMenuHolder {
  width: 20%;
  height: 100vh;
  border: 2px solid darkgray;
  ul {
    li {
      a {
        color: @text-color-menu;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px solid @leftmenu-border-color;
        display: block;
        padding-left: 20px;
        font-weight: 600;
      }

      ul {
        li {
          a {
            padding-left: 40px;
          }
        }
      }
    }
  }

  a {
    &:hover {
      background-color: @leftmenu-hover-color;
    }
  }
}

#leftMenuHolder {
  position: relative;
  float: left;
}

.clear {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
  clear: both;

  &:before {
    .clear;
  }

  &:after {
    .clear;
    clear: both;
  }
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  border: 1px solid @border-color;
  background: @ui-bg;
  color: white;
  z-index: 1000;
  margin: 0 auto;

  .ui-widget-content {
    a {
      color: darkred;
    }
  }

  .ui-dialog-content {
    position: relative;
    border: 0;
    //padding: .5em 1em;
    background: 0;
    .title {
      border: 3px solid @border-color;
      background-color: @ui-bg;
      span {
        font-size: 18px;
        font-weight: 600;
        color: @text-color-menu;
        padding: 0 10px;
        line-height: 38px;
      }
    }
    .inner {
      background-color: @ui-bg;
      overflow: hidden;
      .tabs {
        border-bottom: 2px solid @leftmenu-border-color;
        background-color: @ui-bg-tabs;
        ul {
          overflow: hidden;
          li {
            float: right;
            a {
              text-align: center;
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 38px;
              padding: 0 10px;
              color: @text-color-menu;
              border: 1px solid #eee;
              min-width: 60px;
              text-transform: uppercase;
            }
          }
        }
      }

      .block {
        margin: 20px 15px;
        overflow: hidden;
        height: 100%;
        min-height: 440px;
        float: left;
        box-sizing: border-box;
      }

      .block-left {
        width: 20%;
        float: left;
        overflow: hidden;

        #avatar {
          width: 240px;
          height: 240px;
          border: 1px solid @border-color;
        }

        .upload {
          width: 99%;
          overflow: hidden;
          cursor: pointer;
          border: 1px solid @border-color;
          position: relative;
          height: 30px;
          margin-bottom: 5px;

          input[type="file"] {
            opacity: 0;
            ////filter: alpha(opacity:0);
            cursor: pointer;
            padding: 0px;
            margin: 0px;
            border: none;
          }

          p,span {
            text-align: center;
            font-size: 14px;
            color: @text-color-menu;
            font-weight: 400;
            position: absolute;
            top: 24%;
            left: 32%;
          }
        }
      }

      .block-center {
        width: 30%;
        .half-block {
          h3 {
            font-size: 18px;
            font-weight: 600;
            color: @text-color-menu;
            margin-bottom: 10px;
          }

          dl {
            width: 100%;
            overflow: hidden;

            .general-name {
              float: none;
              width: 100%;
              padding-left: 0;
            }
            dt {
              width: 39%;
              min-width: 16px;
              float: left;
              padding-left: 20px;
              label {

                color: @text-color-menu;
              }

            }
            dd {
              float: right;
              width: 55%;
            }
            dt, dd {
              margin: 10px 0;
              overflow: hidden;
            }
          }
        }
      }

      .block-right {
        width: 42%;
        .half-block {
          height: 100%;
          h3 {
            font-size: 18px;
            font-weight: 600;
            color: @text-color-menu;
            margin-bottom: 10px;
          }
          dl {
            width: 100%;
            overflow: hidden;

            .general-name {
              float: none;
              width: 100%;
              padding-left: 0;
            }
            dt, dd {
              margin: 10px 0;
              overflow: hidden;
            }
            dd {
              #description {
                width: 99%;
                height: 350px;
              }
            }
          }
        }
      }
    }
  }

  .ui-dialog-buttonpane {
    margin-top: 30px !important;
  }

  .ui-dialog-titlebar {
    display: none;
  }

  .ui-dialog-buttonpane {
    border: 1px solid #AAA;
    background: white;
    color: black;
    text-align: left;
    border-width: 1px 0 0;
    background-image: none;
    margin: 0 1em;
    margin-top: .7em;
    padding: .3em 1em .5em .4em;

    &:before {
      content: "";
      display: table;
      border-collapse: collapse;
    }

    &:after {
      clear: both;
      content: "";
      display: table;
      border-collapse: collapse;
    }

    .ui-dialog-buttonset {
      text-align: right;

      button {
        background-image: none;
        color: white;
        border: 1px solid #DDD;
        margin: .5em .4em .5em 0;
        cursor: pointer;
        background-color: @ui-button-color;
        font-size: 1.2em;
        display: inline-block;
        position: relative;
        padding: 0;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        overflow: visible;
        border-radius: 0;

        span {
          display: block;
          line-height: normal;
          background: @ui-button-color;
          padding: .4em 1em;
          color: white;

          &:hover {
            background: @ui-button-color - #131313 !important;
          }
        }
      }
    }
  }
}