@import "_normalize";
@import "_fonts";
@import "_color";
@import "_functions";
@import "_vendor";
@import "_login";

a {
  text-decoration: none;
}

.triangle {
  display: inline-block;
  margin: 0 0px;
  vertical-align: middle;
  height: 100%;

  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}

.downArrow {
  .triangle();
  border-top: solid 5px black;
}

.topArrow {
  .triangle();
  border-bottom: solid 5px black;
}

.notification {
  z-index: 20000;
  position: fixed;
  top: 5px;
  width: 100vw;
  margin: 0 auto;
  //border: 1px solid darkgray;

  .error {
    left: 85%;
    width: 15%;
    position: absolute;
    background: darkred;
  }

  .animate {
    position: absolute;
    /*height: 100%;*/
    width: 15%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    left: 100%;
    opacity: 0;

    .error {
      background: darkred;
    }
  }
}



#leftMenuHolder {
  width: 20%;
  height: 100vh;
  border: 2px solid darkgray;
  ul {
    li {
      a {
        color: @text-color-menu;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px solid @leftmenu-border-color;
        display: block;
        padding-left: 20px;
        font-weight: 600;
      }

      ul {
        li {
          a {
            padding-left: 40px;
          }
        }
      }
    }
  }

  a {
    &:hover {
      background-color: @leftmenu-hover-color;
    }
  }
}

#leftMenuHolder {
  position: relative;
  float: left;
}

.clear {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix {
  zoom: 1;
  clear: both;

  &:before {
    .clear;
  }

  &:after {
    .clear;
    clear: both;
  }
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  border: 1px solid @border-color;
  background: @ui-bg;
  color: white;
  z-index: 1000;
  margin: 0 auto;

  .ui-widget-content {
    a {
      color: darkred;
    }
  }

  .ui-dialog-content {
    position: relative;
    border: 0;
    //padding: .5em 1em;
    background: 0;
    .title {
      border: 3px solid @border-color;
      background-color: @ui-bg;
      span {
        font-size: 18px;
        font-weight: 600;
        color: @text-color-menu;
        padding: 0 10px;
        line-height: 38px;
      }
    }
    .inner {
      background-color: @ui-bg;
      overflow: hidden;
      .tabs {
        border-bottom: 2px solid @leftmenu-border-color;
        background-color: @ui-bg-tabs;
        ul {
          overflow: hidden;
          li {
            float: right;
            a {
              text-align: center;
              display: block;
              font-size: 14px;
              font-weight: 600;
              line-height: 38px;
              padding: 0 10px;
              color: @text-color-menu;
              border: 1px solid #eee;
              min-width: 60px;
              text-transform: uppercase;
            }
          }
        }
      }

      .block {
        margin: 20px 15px;
        overflow: hidden;
        height: 100%;
        min-height: 440px;
        float: left;
        box-sizing: border-box;
      }

      .block-left {
        width: 20%;
        float: left;
        overflow: hidden;

        #avatar {
          width: 240px;
          height: 240px;
          border: 1px solid @border-color;
        }

        .upload {
          width: 99%;
          overflow: hidden;
          cursor: pointer;
          border: 1px solid @border-color;
          position: relative;
          height: 30px;
          margin-bottom: 5px;

          input[type="file"] {
            opacity: 0;
            ////filter: alpha(opacity:0);
            cursor: pointer;
            padding: 0px;
            margin: 0px;
            border: none;
          }

          p, span {
            text-align: center;
            font-size: 14px;
            color: @text-color-menu;
            font-weight: 400;
            position: absolute;
            top: 24%;
            left: 32%;
          }
        }
      }

      .block-center {
        width: 30%;
        .half-block {
          h3 {
            font-size: 18px;
            font-weight: 600;
            color: @text-color-menu;
            margin-bottom: 10px;
          }

          dl {
            width: 100%;
            overflow: hidden;

            .general-name {
              float: none;
              width: 100%;
              padding-left: 0;
            }
            dt {
              width: 39%;
              min-width: 16px;
              float: left;
              padding-left: 20px;
              label {

                color: @text-color-menu;
              }

            }
            dd {
              float: right;
              width: 55%;
            }
            dt, dd {
              margin: 10px 0;
              overflow: hidden;
            }
          }
        }
      }

      .block-right {
        width: 42%;
        .half-block {
          height: 100%;
          h3 {
            font-size: 18px;
            font-weight: 600;
            color: @text-color-menu;
            margin-bottom: 10px;
          }
          dl {
            width: 100%;
            overflow: hidden;

            .general-name {
              float: none;
              width: 100%;
              padding-left: 0;
            }
            dt, dd {
              margin: 10px 0;
              overflow: hidden;
            }
            dd {
              #description {
                width: 99%;
                height: 350px;
              }
            }
          }
        }
      }
    }
  }

  .ui-dialog-buttonpane {
    margin-top: 30px !important;
  }

  .ui-dialog-titlebar {
    display: none;
  }

  .ui-dialog-buttonpane {
    border: 1px solid #AAA;
    background: white;
    color: black;
    text-align: left;
    border-width: 1px 0 0;
    background-image: none;
    margin: 0 1em;
    margin-top: .7em;
    padding: .3em 1em .5em .4em;

    &:before {
      content: "";
      display: table;
      border-collapse: collapse;
    }

    &:after {
      clear: both;
      content: "";
      display: table;
      border-collapse: collapse;
    }

    .ui-dialog-buttonset {
      text-align: right;

      button {
        background-image: none;
        color: white;
        border: 1px solid #DDD;
        margin: .5em .4em .5em 0;
        cursor: pointer;
        background-color: @ui-button-color;
        font-size: 1.2em;
        display: inline-block;
        position: relative;
        padding: 0;
        line-height: normal;
        vertical-align: middle;
        text-align: center;
        overflow: visible;
        border-radius: 0;

        span {
          display: block;
          line-height: normal;
          background: @ui-button-color;
          padding: .4em 1em;
          color: white;

          &:hover {
            background: @ui-button-color - #131313 !important;
          }
        }
      }
    }
  }
}