<div class="form-holder">
    <form id="changePassword" action="" method="post">
    <dl class="person-info">
        <dt><label for="oldPassword">Old Password</label></dt>
        <dd><input type="password" name="oldPassword" id="oldPassword" required maxlength="32" /></dd>
        <dt><label for="newPassword">New Password</label></dt>
        <dd><input type="password" name="new_password" id="newPassword" required maxlength="32" /></dd>
        <dt><label for="confirmNewPassword">Confirm New Password</label></dt>
        <dd><input type="password" name="confirmNewPassword" id="confirmNewPassword" required maxlength="32" /></dd>
    </dl>
    </form>
    <div class="clearfix"></div>
</div>