<div id="filterBar">
    <div class="title">
        <span>filters</span>
        <input placeholder="Search" type="text" id="searchInput"/>
    </div>
</div>

<div id="viewBar">
    <div id="template-switcher">
        <a href="javascript:;" class="changeContentView" data-view-type="thumbnails" id="thumbBtn"><%=contentType.toUpperCase()%></a>
        <a href="javascript:;" class="changeContentView" data-view-type="list" id="listBtn"><%=contentType.toUpperCase()%>
            LIST</a>
    </div>

    <div id="btnHolder">
        <a href="javascript:;" title="Create" id="top-bar-createBtn">CREATE NEW</a>
        <a href="javascript:;" title="Remove" id="top-bar-deleteBtn">DELETE</a>
    </div>

</div>