<div id="filterBar">
    <div class="title">
        <form>
            <span>Filters</span>
            <span>
                <input type="text" placeholder="Search" id="searchInput" required/>
                <button id="searchResetBtn" type="reset"></button>
            </span>
        </form>
    </div>
    <div id="filtersFullHolder">
    </div>
    <div id="filtersBtnHolder">
        <span id="clearBtn">Clear</span>
    </div>
</div>

<div id="viewBar">
    <div id="templateSwitcher">
        <a href="javascript:;" class="changeContentView viewBarBtnActive" data-view-type="thumbnails" id="thumbBtn"><%=contentType.toUpperCase()%></a>
        <a href="javascript:;" class="changeContentView" data-view-type="list" id="listBtn"><%=contentType.toUpperCase()%>
            LIST</a>
    </div>

    <div id="btnHolder">
        <a href="javascript:;" title="Create" id="top-bar-createBtn" class="holderBtn btnSuc">CREATE NEW</a>
        <a href="javascript:;" title="Remove" id="top-bar-deleteBtn" class="holderBtn btnWarn">DELETE</a>
    </div>

    <div id="contentViewSwitcher">
        <ul class="btn-list">
            <li><a href="javascript;" class="changeContentView viewBarBtnActive" data-view="thumbnails"><i
                    class="material-icons">&#xE241;</i></a></li>
            <li><a href="javascript;" class="changeContentView" data-view="list"><i class="material-icons">&#xE8F0;</i></a>
            </li>
        </ul>
    </div>

    <div id="paginationHolder">

    </div>
</div>