<div>
    <table class="list">
        <col width="5%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="20%">
        <col width="10%">
        <col width="25%">
        <col width="10%">

        <thead>
        <tr>
            <th><input type="checkbox" id="check_all" /></th>
            <th class="oe_sortable" data-sort="firstName">First Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="lastName">Last Name<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="position">Position<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="email">Email<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="phone">Phone<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable" data-sort="location">Location<span class="arrow down">7</span><span class="arrow up">v</span></th>
            <th class="oe_sortable sortDn" data-sort="createdBy.date">Created By<span class="arrow down">7</span><span class="arrow up">v</span></th>
        </tr>
        </thead>
        <tbody id="listTable"></tbody>
    </table>
</div>
